<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.barcode.papers.daily</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/oggi/opt/anaconda3/bin/python3</string>
        <string>-m</string>
        <string>barcode_papers.run</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/oggi/AI_Projects_2026/barcode</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/oggi/.local/bin:/Users/oggi/opt/anaconda3/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/oggi/AI_Projects_2026/barcode/data/daily.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/oggi/AI_Projects_2026/barcode/data/daily.err.log</string>
</dict>
</plist>
